@page "/authors"
@rendermode InteractiveServer
@inject IAuthorService AuthorService
@inject NavigationManager Navigation

<PageTitle>Authors</PageTitle>

<h1>List Authors:</h1>
<table class="table">
    <thead>
        <tr>
            <th>AuthorId</th>
            <th>AuthorName</th>
            <th>PhoneNumber</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in ListAuthors)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>
                    <NavLink href=@string.Format("/author/{0}",@author.AuthorId)>
                        @author.Name
                    </NavLink>
                </td>
                <td>@author.PhoneNumber</td>
                <td>@author.Email</td>
            </tr>
        }
    </tbody>
    
</table>


@code {
    public List<Author> ListAuthors { get; set; }

    protected override void OnInitialized()
    {
        ListAuthors = AuthorService.GetAuthors();
    }

    void Navigate(int id)
    {
        Navigation.NavigateTo($"/author/{id}");
    }
}
