
@page "/author/{AuthorId:int}"
@rendermode InteractiveServer
@inject IAuthorService AuthorService
@inject NavigationManager Navigation

<PageTitle>About</PageTitle>

<h1>@author.Name</h1>
<p>@author.Description</p>

<h3>Creation time: @AuthorService.GetCreationTime()</h3>

<button class="btn btn-primary" @onclick="Navigate">Back</button>

@code {
    [Parameter]
    public int AuthorId { get; set; }

    public Author author { get; set; }


    protected override void OnInitialized()
    {
        author = AuthorService.GetAuthorById(AuthorId);
    }
    public void Navigate()
    {
        Navigation.NavigateTo("/authors");
    }

}
